dist: xenial

language: python

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7

env:
  - DJANGO_VERSION=1.11
  - DJANGO_VERSION=2.0
  - DJANGO_VERSION=2.1
  - DJANGO_VERSION=2.2

matrix:
  exclude:
    - {env: DJANGO_VERSION=1.11, python: 3.7}
    - {env: DJANGO_VERSION=2.0, python: 2.7}
    - {env: DJANGO_VERSION=2.1, python: 2.7}
    - {env: DJANGO_VERSION=2.1, python: 3.4}
    - {env: DJANGO_VERSION=2.2, python: 2.7}
    - {env: DJANGO_VERSION=2.2, python: 3.4}

install:
  - pip install Django==$DJANGO_VERSION

script:
  - python runtests.py
